<%- include('layouts/header') %>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/poll.css" />
  </head>

  <fieldset>
    <legend>Results for: <%= poll.question %>
    </legend>


    <ul>
      <% poll.options.forEach(option=> { %>
        <li>
          <%= option.text %>: <%= option.votes %> votes <% if (poll.totalVotes> 0) {
                %> (<%= ((option.votes / poll.totalVotes) * 100).toFixed(2) %>%) <% } else { %> (0%) <% } %>
        </li>
        <% }) %>
    </ul>

    <a href="/" class="btn btn-outline-primary btn-lg my-4">Go Back to All Polls</a>
    <a href="/polls/<%= poll._id %>" class="btn btn-outline-primary btn-lg my-4">Back to Poll</a>
  </fieldset>

  <%- include('layouts/footer') %>